body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePic {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}

.title {
    font-size: 40px;
}


h1,
h2,
h3,
h4,
p {
    text-shadow: 0px 0px 1px black;
}

#bday-age {
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0px 10px 0px;
}

#bday-date {
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px;

}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-img {
    background-image: url(/images/gift-cover.jpg);
    background-size: cover;
    width: 400px;
    height: 400px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    margin: 0 auto;
}

.gift-selection {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift.hint {
    margin-top: 0px;
}

#gift-img-happy:hover {
    background-image: url(/images/happy.gif);
}

#gift-img-hot:hover {
    background-image: url(/images/hot.gif);
}

#gift-img-genius:hover {
    background-image: url(/images/genius.gif);
}

#gift-img-badass:hover {
    background-image: url(/images/badass.gif);
}

#gift-img-cheers:hover {
    background-image: url(/images/cheers.gif);
}

#gift-img-cheers {
    height: 200px;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}